
<table id="tg5" title="人员范围" remoteSort="false" data-options="toolbar:'#toolbar3'" ><!-- data-options="toolbar:'#toolbar2'" -->
	<thead>
		<tr>
			<th data-options="field:'id',hidden:true"></th>
			<th data-options="field:'ck1',checkbox:true,singleSelect:false"></th>
			<th data-options="field:'name',sortable:'true'" width="30%">姓名</th>
			<th width="60%" data-options="field:'phone',sortable:'true'">用户编码</th>
		</tr>
	</thead>
</table>
<div id="toolbar3" style="padding: 5px; height: auto;">
		<div style="margin-left: 4px;">
			<form action="#" id="tForm3" style="display: inline;">
				<span style="margin-left: 5px;">人员信息：</span> 
				<span style="margin-left: 5px;">搜索：
					<input class="easyui-textbox" style="width: 120px;" name="seachId" />
				</span>
				<input type = "hidden" name = "id" class="idinput2" />
				<a href="#" class="easyui-linkbutton" style="width: 150px; margin-right: 5px; float: right;" id="search3" 
					iconCls="icon-search">查询</a>
			</form>
		</div>
		</div>