
<table id="tg" title="人员范围" remoteSort="false" data-options="toolbar:'#toolbar2'" ><!-- data-options="toolbar:'#toolbar2'" -->
	<thead>
		<tr>
			<th data-options="field:'id',hidden:true"></th>
			<th data-options="field:'ck1',checkbox:true,singleSelect:false"></th>
			<th data-options="field:'name',sortable:'true'" width="30%">姓名</th>
			<th width="60%" data-options="field:'phone',sortable:'true'">用户编码</th>
		</tr>
	</thead>
</table>
	<div id="toolbar2" style="padding: 5px; height: auto;">
			<div style="margin-left: 4px;">
				<!-- <form action="#" class="tForm1" style="display: inline;"> -->
					
				
					<div style="margin-left: 5px;width: 100%;">
					
						<input id="cc" name="dept" value="全部部门">						
					
					<a href="#" class="easyui-linkbutton searchs" style="width: 150px; margin-right: 5px; float: right;" iconCls="icon-search">查看</a>
					</div> 
				<!-- </form> -->
			</div>
			
		</div> 