<#include "/common/_layout.html"/> <@layout/>
<script type="text/javascript" src="${ctx}/static/js/sys/User.js"></script>
<!-- <script type="text/javascript" src="${ctx}/plugins/jquery-ext/m.js"></script> -->
<script>
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };

    	if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    	
    
    
}
</script>
</head>
<body class="easyui-layout">
	<table id="dg" title="用户管理" data-options="toolbar:'#toolbar'">

		<thead>
			<tr>
				<th data-options="field:'id',hidden:true">id</th>
				<th data-options="field:'ck',checkbox:true"></th>
				<th align="center" data-options="field:'username'" width="10%">用户名</th>
				<th align="center" data-options="field:'realname'" width="10%">姓名</th>
			 <th align="center" width="5%"
					data-options="field:'geneder',formatter:function(value,row,index){if(value==1){return '男';}else if(value==0){return '女'}}">性别</th> 
				 <th align="center" width="10%"
					data-options="field:'status',formatter:function(value,row,index){if(value=='1'||value==1){return '开启状态';}else{return '关闭状态'}}">状态</th>  
				<th align="center" data-options="field:'phone'" width="8%">电话</th>
				<th align="center" data-options="field:'inputTime',formatter:function(value,row,index){if(value==null){return '';}else{
                         var unixTimestamp = new Date(value).Format('yyyy-MM-dd hh:mm:ss');  
                         return unixTimestamp.toLocaleString(); }}" width="12%">创建时间</th>
				<th align="center" data-options="field:'email'" width="10%">邮箱</th>
				<th data-options="field:'departmentId',hidden:true">departmentId</th>
				<th align="center" width="10%" data-options="field:'description'">描述</th>
			</tr>
		</thead>

	</table>

	<div id="toolbar" style="padding: 5px; height: auto;">
		<div style="display: inline; margin-left: 5px;">
			<a class="easyui-linkbutton" id="add"
				data-options="iconCls:'icon-add',plain:true">添加</a><span
				class="toolbar-item dialog-tool-separator"></span> <a
				class="easyui-linkbutton" id="del"
				data-options="iconCls:'icon-remove',plain:true">删除</a><span
				class="toolbar-item dialog-tool-separator"></span> <a
				class="easyui-linkbutton" id="edit"
				data-options="iconCls:'icon-edit',plain:true">修改</a><span
				class="toolbar-item dialog-tool-separator"></span> <a
				class="easyui-linkbutton" id="user_role"
				data-options="iconCls:'icon-hamburg-my-account',plain:true">用户角色</a>
		</div>
		<div style="margin-left: 4px;">
			<form action="#" id="tForm" style="display: inline;">
				<span style="margin-left: 5px;">状态: <select
					class="easyui-combobox" style="width: 100px;" name="status"><option
							value="1">开启</option>
						<option value="0">关闭</option></select></span> <span style="margin-left: 5px;">
				</span> <span style="margin-left: 5px;">综合搜索: <input
					class="easyui-textbox" style="width: 120px;" name="name"></input></span> <a
					href="#" class="easyui-linkbutton"
					style="width: 150px; margin-right: 5px; float: right;" id="search"
					iconCls="icon-search">查询</a>
			</form>
		</div>
	</div>
	<div id="addDialog" class="easyui-dialog"
		data-options="closed:true,modal:true,maximizable:true"
		style="width: 420px; height: 380px;"><#include "add.html"/></div>
	<div id="userRole" class="easyui-dialog"
		data-options="closed:true,modal:true,maximizable:true"
		style="width: 500px; height: 350px;"><#include "userRole.html"/>
	</div>

</body>
</html>